thingspin-gui-flow.json
[{"id":"7a7beb71.95fbc4","type":"tab","label":"Machine Learning Example","disabled":false,"info":"create table t_image_sample\n(\n\t`id`          INT            NOT NULL     PRIMARY KEY,\n\t`value`\t\t  TEXT NOT NULL \n);\n\nCREATE TABLE t_ml_cpature\n(\n\t`time`        DATETIME                   NOT NULL    COMMENT 'time' DEFAULT CURRENT_TIMESTAMP,\n\t`uuid`      VARCHAR(32)       NULL        COMMENT 'uuid' PRIMARY KEY,\n\t`fileName`  VARCHAR(64)       NULL        COMMENT 'fileName',\n\t`absPath`   VARCHAR(512)      NULL        COMMENT 'absPath',\n\t`folder`\t\tVARCHAR(512)\t\t NULL\t\t COMMENT 'folder',\n\t`project`\tVARCHAR(120)\t\tNULL\t\t\tCOMMENT 'project',\n\t`result`\t\tTINYINT\t\t\tnull\t\t\tCOMMENT 'result'\n);\n"},{"id":"946a22aa.72eae","type":"tab","label":"Dynamic GUI","disabled":false,"info":""},{"id":"a4d0a651.7ae3f8","type":"subflow","name":"Get Base64 Image ","info":"","in":[{"x":250,"y":160,"wires":[{"id":"ab1f1818.d595e8"}]}],"out":[{"x":960,"y":160,"wires":[{"id":"8b43cfa4.32b2f","port":0}]}]},{"id":"d55641ac.fb6d5","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":""},{"id":"ef9681a4.beb8d","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"a960a92d.697258","type":"mqtt-broker","z":"","name":"KR MQTT","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d3bea841.84c168","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"posco","tz":"30"},{"id":"42ae6656.164888","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"thingspin","name":"InfluxDB","usetls":false,"tls":""},{"id":"f3c5991a.211de8","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.0.109:4980/OPC-UA","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"OPC UA Server","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"5b11caf4.795f24","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.0.109:4980/OPC-UA","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"OPC UA Server","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"2710ec2e.0e6044","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bc597f5.3ab078","type":"mysql","z":"a4d0a651.7ae3f8","mydb":"d55641ac.fb6d5","name":"","x":670,"y":160,"wires":[["8b43cfa4.32b2f"]]},{"id":"ab1f1818.d595e8","type":"function","z":"a4d0a651.7ae3f8","name":"count init & create sql","func":"console.log(msg);\nif (msg.type === \"KR\") {\n    if (context.global.krcount === NaN || context.global.krcount === 11) {\n        context.global.krcount = 1;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.krcount++;\n} else if (msg.type === \"LADLE\"){\n    if (context.global.ladlecount === NaN || context.global.ladlecount === 22) {\n        context.global.ladlecount = 11;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.ladlecount++;\n} else if (msg.type === \"ML-Example\") {\n    console.log(context.global.mlexample);\n    if (context.global.mlexample === NaN || context.global.mlexample === 50) {\n        context.global.mlexample = 22;\n    }\n    msg.topic = \"select value from t_image_sample where id = \" + context.global.mlexample++;\n}\nconsole.log(msg.topic);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["2bc597f5.3ab078"]]},{"id":"8b43cfa4.32b2f","type":"json","z":"a4d0a651.7ae3f8","name":"","property":"payload","action":"","pretty":false,"x":830,"y":160,"wires":[[]]},{"id":"16a65775.9d0109","type":"comment","z":"7a7beb71.95fbc4","name":"AI Server HTTP Post Sender","info":"","x":160,"y":80,"wires":[]},{"id":"43fc5c.2a1bd3a4","type":"inject","z":"7a7beb71.95fbc4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["dc6b507e.a835f"]]},{"id":"a919b034.22bf9","type":"function","z":"7a7beb71.95fbc4","name":"Make Data","func":"function getUID(len){\n    var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',\n          out = '';\n\n    for(var i=0, clen=chars.length; i<len; i++){\n       out += chars.substr(0|Math.random() * clen, 1);\n       if (i+1 == 8) {\n        out += \".\";    \n       }\n    }\n    // ensure that the uid is unique for this page\n    return out;\n}\n\nfunction getSNO() {\n    return \"CAM00\";\n}\n\nfunction getRandom() {\n    var bottomValue = Math.round(Math.random() *1000);\n    var topValue = Math.round(Math.random() *1000);\n    return topValue + \".\" + bottomValue;\n}\nvar base64Image = JSON.parse(msg.payload);\nvar strImage = base64Image[0].value;\nvar postLadleData = {\n    image : strImage\n};\n\nmsg.payload = postLadleData;\n\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["74ee99c7.a89e18"]]},{"id":"74ee99c7.a89e18","type":"http request","z":"7a7beb71.95fbc4","name":"Post KR","method":"POST","ret":"obj","url":"http://localhost:1880/thingspin/api/ml","tls":"","x":920,"y":120,"wires":[["d207d84.5d96c28"]]},{"id":"d207d84.5d96c28","type":"debug","z":"7a7beb71.95fbc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":120,"wires":[]},{"id":"dc6b507e.a835f","type":"function","z":"7a7beb71.95fbc4","name":"Set Type","func":"msg.type = \"ML-Example\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["cbacd0ee.47e55"]]},{"id":"69f66029.11e68","type":"http in","z":"7a7beb71.95fbc4","name":"ML","url":"/thingspin/api/ml","method":"post","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["e39b2a99.10f198"]]},{"id":"e39b2a99.10f198","type":"json","z":"7a7beb71.95fbc4","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":260,"wires":[["1742c323.752c5d"]]},{"id":"3a3fc07d.79bac","type":"comment","z":"7a7beb71.95fbc4","name":"HTTP ML Example POST Process","info":"","x":180,"y":220,"wires":[]},{"id":"cbacd0ee.47e55","type":"subflow:a4d0a651.7ae3f8","z":"7a7beb71.95fbc4","name":"","x":540,"y":120,"wires":[["a919b034.22bf9"]]},{"id":"729a91b8.b9fea","type":"http response","z":"7a7beb71.95fbc4","name":"","statusCode":"","headers":{},"x":890,"y":240,"wires":[]},{"id":"1742c323.752c5d","type":"function","z":"7a7beb71.95fbc4","name":"construct","func":"function checkZeroTime(value) {\n    return (value>9 ? '' : '0') + value\n}\n\nfunction nowDateFormat() {\n    var nowTime = new Date();\n    return nowTime.getFullYear() + checkZeroTime(nowTime.getMonth()+1) + checkZeroTime(nowTime.getDate());\n}\n\nvar p = msg.payload;\nvar metric = {};\n\nvar path = context.global.basePath;\nconsole.log(path);\n\nif (context.global.todaydate === undefined) {\n    context.global.todaydate = nowDateFormat();\n}\n\n// var date = context.global.todaydate;\nvar folder = \"ml-example\";\nvar img = [];\n\nObject.keys(p).filter((value) => { return (value !== 'image') }).map( (k) => {\n    metric[k] = p[k];\n});\n\nconsole.log(metric);\n\nvar data = {\n    path: path + folder + \"\\\\\\\\\",\n    image: p.image,\n    folder: folder,\n    metric: metric,\n};\n\ndelete msg.payload;\nmsg.statusCode = 200;\n\nreturn [msg, data];\n\n","outputs":2,"noerr":0,"x":460,"y":260,"wires":[["fbfc847a.98e8e8"],["fbcd30b5.663e5"]]},{"id":"fbcd30b5.663e5","type":"function","z":"7a7beb71.95fbc4","name":"img","func":"var fs = global.get(\"mkdirp\");\n\nfs(msg.path, function(e) {\n   if (!e || (e && e.code === 'EEXIST')) {\n   } else {\n       console.log(e);\n   }\n});\n\nvar b = global.get(\"base64-to-image\");\n\nvar filePrefix = \"ml-example\";\n\nvar image = msg.image;\nvar path = msg.path;\nvar folder = msg.folder;\n\nvar t = Date.now();\nvar fileName = filePrefix + t;\n\nvar option = {\n    fileName: fileName,\n    type: 'jpg'\n};\nconsole.log(path);\nvar imageInfo = b(image, path, option);\n\nmsg.info = imageInfo;\nmsg.info.fullPath = path + fileName + \".\" + imageInfo.imageType;\nmsg.info.path = folder;\ndelete msg.image;\ndelete msg.path;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["cc899484.453fa8","27de980f.e355d8"]]},{"id":"1261939a.44c7cc","type":"mysql","z":"7a7beb71.95fbc4","mydb":"ef9681a4.beb8d","name":"posco-ai","x":1000,"y":280,"wires":[[]]},{"id":"cc899484.453fa8","type":"function","z":"7a7beb71.95fbc4","name":"SQL","func":"var sql = \"INSERT INTO t_ml_capture (uuid, fileName, absPath, folder) values \";\n\nvar r = {\n    uuid: msg._msgid,\n    fileName: msg.info.fileName,\n    absPath: msg.info.fullPath,\n    folder: msg.info.path\n};\n\nvar values =  \"\\\"\" + r.uuid + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.fileName + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.absPath + \"\\\"\" + \",\"\nvalues +=  \"\\\"\" + r.folder + \"\\\"\"\n\nsql = sql + \"(\" + values + \");\"\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["1261939a.44c7cc"]]},{"id":"fbfc847a.98e8e8","type":"function","z":"7a7beb71.95fbc4","name":"response-kr","func":"delete msg.payload;\ndelete msg.topic;\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"contents-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    Result:\"OK\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["729a91b8.b9fea"]]},{"id":"27de980f.e355d8","type":"function","z":"7a7beb71.95fbc4","name":"Create MQTT Data ","func":"var fileName = msg.info.fileName;\nvar folder = msg.info.path;\nvar jsonData = \n{\n    \"image\":fileName,\n    \"folder\":folder,\n    \"uuid\":msg._msgid\n}\n\nmsg.payload = jsonData;\n\nmsg.topic = \"THINGSPIN/EDGEAI/KR-Server/IN/0\";\nmsg.qos = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["ebcfb8b3.4a2d58"]]},{"id":"a29c34f4.539bc8","type":"mqtt out","z":"7a7beb71.95fbc4","name":"","topic":"","qos":"","retain":"","broker":"a960a92d.697258","x":1230,"y":360,"wires":[]},{"id":"d38248cd.ffdd68","type":"mqtt in","z":"7a7beb71.95fbc4","name":"","topic":"THINGSPIN/EDGEAI/+/OUT","qos":"2","broker":"a960a92d.697258","x":180,"y":500,"wires":[["6a03af78.dc23e"]]},{"id":"68bc4b49.ae40e4","type":"debug","z":"7a7beb71.95fbc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":440,"wires":[]},{"id":"ebcfb8b3.4a2d58","type":"delay","z":"7a7beb71.95fbc4","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1070,"y":360,"wires":[["a29c34f4.539bc8","68bc4b49.ae40e4"]]},{"id":"b75bcfa.10e623","type":"function","z":"7a7beb71.95fbc4","name":"Make Update DB Query","func":"var sql_basic = \"UPDATE t_ml_capture set project = \\'\"\nvar sql_added = \"\\', result = \"\nvar sql_ended = \" where uuid = \\'\"\n\nvar resultStr = 0;\nif (msg.payload.isBird === true) {\n    resultStr = 1;\n} else  {\n    resultStr = 0;\n}\n\nmsg.topic = sql_basic + msg.payload.project + sql_added + resultStr + sql_ended + msg.payload.uuid + \"\\'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":500,"wires":[[]]},{"id":"6a03af78.dc23e","type":"json","z":"7a7beb71.95fbc4","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":500,"wires":[["b75bcfa.10e623"]]},{"id":"8ab6382a.20c788","type":"mysql","z":"7a7beb71.95fbc4","mydb":"d3bea841.84c168","name":"posco-ai","x":880,"y":500,"wires":[[]]},{"id":"bdd26bf8.5564f8","type":"influxdb batch","z":"946a22aa.72eae","influxdb":"42ae6656.164888","precision":"","retentionPolicy":"","name":"","x":780,"y":120,"wires":[]},{"id":"43491c9.36286e4","type":"OPCUA-IIoT-Inject","z":"946a22aa.72eae","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":false,"startDelay":"","name":"OPC-UA","addressSpaceItems":[{"name":"Static-INT","nodeId":"ns=3;s=OPC_DA.IOP.static.INT","datatypeName":"Int32"},{"name":"SIN","nodeId":"ns=3;s=OPC_DA.maths.sin","datatypeName":"Double"},{"name":"COS","nodeId":"ns=3;s=OPC_DA.maths.cos","datatypeName":"Double"},{"name":"TAN","nodeId":"ns=3;s=OPC_DA.maths.cos","datatypeName":"Double"}],"x":160,"y":120,"wires":[["122eba62.8276c6"]]},{"id":"122eba62.8276c6","type":"OPCUA-IIoT-Read","z":"946a22aa.72eae","attributeId":0,"maxAge":1,"depth":1,"connector":"f3c5991a.211de8","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"x":330,"y":120,"wires":[["e3d38832.cd4e38"]]},{"id":"e3d38832.cd4e38","type":"function","z":"946a22aa.72eae","name":"Node List to InfluxDB","func":"var today = new Date();\nvar dd = today.getDate();\nvar mm = today.getMonth()+1; //January is 0!\nvar yyyy = today.getFullYear();\n\nvar Total_item = 4;\n\n//null\nfor(var i = 0; i < Total_item; i++){\n    if(msg.payload[i].value === null){\n    msg.payload[i].value =\"\";\n    }\n}\n\nvar list =[\n    \"Static-INT\",\n    \"SIN\",\n    \"COS\",\n    \"TAN\"\n];\nvar res = [\n        {\n            measurement:'opcua-'+yyyy+'-'+mm,\n            fields:{}\n        }\n    ];\n\nlist.forEach((str, idx) =>{\n   var value = msg.payload[idx].value;\n   res[0].fields[str] = value;\n});\n\nmsg.payload = res;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["bdd26bf8.5564f8"]]},{"id":"6d753f48.b04c8","type":"comment","z":"946a22aa.72eae","name":"OPC UA","info":"","x":120,"y":80,"wires":[]},{"id":"7ff97c58.194974","type":"tcp in","z":"946a22aa.72eae","name":"","server":"server","host":"","port":"50000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":140,"y":400,"wires":[["98362708.c984b8","7c20f813.afc228","afc457cd.2ee1e8"]]},{"id":"8a984f1c.9854c","type":"function","z":"946a22aa.72eae","name":"Make Data","func":"function checkLengthString(str, len) {\n    var check = str.length;\n    if (check < len) {\n        for (var i = 0 ; i < (len - check) ; i++) {\n            str += \" \";\n        }\n    } else if(check > len) {\n        str = str.slice(0, len)\n    }\n    return str;\n}\n\nfunction getRandomTemperator(multiple, value) {\n    var bottomValue = Math.round(Math.random() * multiple);\n    var topValue = Math.round(Math.random() * multiple);\n    var resultData = \"\";\n    if (value === true)\n        resultData = topValue + \".\" + bottomValue;\n    else\n        resultData = topValue;\n\n    return resultData;\n}\nvar temp = getRandomTemperator(100,true);\nvar humidity = getRandomTemperator(100, false);\n\nmsg.payload = checkLengthString(temp,5) + checkLengthString(humidity,2);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["1865df4.c255221"]]},{"id":"1865df4.c255221","type":"tcp out","z":"946a22aa.72eae","host":"localhost","port":"50000","beserver":"client","base64":false,"end":false,"name":"","x":600,"y":340,"wires":[]},{"id":"244d38a8.964fe8","type":"inject","z":"946a22aa.72eae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["8a984f1c.9854c"]]},{"id":"98362708.c984b8","type":"function","z":"946a22aa.72eae","name":"Slice Data","func":"var orgData = msg.payload;\n\nvar temp = orgData.slice(0,4);\nvar humi = orgData.slice(5,7);\n\nvar json = {\n    \"temp\":temp,\n    \"humidity\":humi\n}\n\nmsg.payload = json;\n\ninsert_influx = [{\n    measurement: \"random-data\",\n    fields: {\n        temperator:temp,\n        humidity:humi\n    }\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["7c20f813.afc228"]]},{"id":"7c20f813.afc228","type":"debug","z":"946a22aa.72eae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":400,"wires":[]},{"id":"480edc1.be38b24","type":"influxdb batch","z":"946a22aa.72eae","influxdb":"42ae6656.164888","precision":"","retentionPolicy":"","name":"","x":570,"y":460,"wires":[]},{"id":"afc457cd.2ee1e8","type":"function","z":"946a22aa.72eae","name":"Slice Data","func":"var orgData = msg.payload;\n\nvar temp = orgData.slice(0,5);\nvar humi = orgData.slice(5,7);\n\ninsert_influx = [{\n    measurement: \"random-data\",\n    fields: {\n        temperator:temp,\n        humidity:humi\n    }\n}];\n\nmsg.payload = insert_influx;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":460,"wires":[["480edc1.be38b24"]]},{"id":"46cdbc45.9e48f4","type":"comment","z":"946a22aa.72eae","name":"TCP Server  / Client","info":"","x":140,"y":300,"wires":[]},{"id":"49662379.7d20cc","type":"comment","z":"946a22aa.72eae","name":"HTTP + FILE","info":"","x":130,"y":580,"wires":[]},{"id":"10d54bf0.1dbd74","type":"xml","z":"946a22aa.72eae","name":"","property":"payload","attr":"","chr":"","x":550,"y":620,"wires":[["a2183f2c.7b215","c64d1af9.4d8408","881cfc0b.1e5ee"]]},{"id":"33797ad8.fd1816","type":"http request","z":"946a22aa.72eae","name":"CCTV 요청","method":"GET","ret":"txt","url":"http://openapi.its.go.kr:8081/api/NCCTVInfo?key=1395816212109&ReqType=2&MinX=126.100000&MaxX=128.890000&MinY=32.100000%20&MaxY=35.100000&type=ex","tls":"","x":360,"y":620,"wires":[["10d54bf0.1dbd74"]]},{"id":"57a8fe8b.10731","type":"inject","z":"946a22aa.72eae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":620,"wires":[["33797ad8.fd1816"]]},{"id":"a2183f2c.7b215","type":"debug","z":"946a22aa.72eae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":620,"wires":[]},{"id":"c64d1af9.4d8408","type":"e-mail","z":"946a22aa.72eae","server":"smtp.naver.com","port":"465","secure":true,"name":"jiwoong@hancommds.com","dname":"To Mail","x":760,"y":680,"wires":[]},{"id":"881cfc0b.1e5ee","type":"file","z":"946a22aa.72eae","name":"Save File","filename":"cctv-url-data.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":740,"y":740,"wires":[]},{"id":"5d560a90.dcb5c4","type":"http in","z":"946a22aa.72eae","name":"","url":"/thingspin/api/cctv/","method":"get","upload":false,"swaggerDoc":"","x":190,"y":900,"wires":[["c7da5fa4.b7c1"]]},{"id":"56bd8cec.fea944","type":"http response","z":"946a22aa.72eae","name":"","statusCode":"","headers":{},"x":630,"y":900,"wires":[]},{"id":"c7da5fa4.b7c1","type":"file in","z":"946a22aa.72eae","name":"Read File","filename":"cctv-url-data.xml","format":"utf8","chunk":false,"sendError":false,"x":440,"y":900,"wires":[["56bd8cec.fea944"]]},{"id":"604aeee.323b21","type":"inject","z":"946a22aa.72eae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":960,"wires":[["1fc2c035.fa35f"]]},{"id":"1fc2c035.fa35f","type":"http request","z":"946a22aa.72eae","name":"","method":"GET","ret":"txt","url":"http://192.168.0.100:1880/thingspin/api/cctv/","tls":"","x":390,"y":960,"wires":[["48dab71c.677e48"]]},{"id":"48dab71c.677e48","type":"debug","z":"946a22aa.72eae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":960,"wires":[]},{"id":"4e2df9bf.fc0668","type":"file in","z":"946a22aa.72eae","name":"Read File","filename":"cctv-url-data.xml","format":"utf8","chunk":false,"sendError":false,"x":360,"y":840,"wires":[["dd1561a2.5cf34"]]},{"id":"76a3fd.977b9c04","type":"inject","z":"946a22aa.72eae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":840,"wires":[["4e2df9bf.fc0668"]]},{"id":"dd1561a2.5cf34","type":"debug","z":"946a22aa.72eae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":840,"wires":[]},{"id":"2b79a161.4d0f2e","type":"OPCUA-IIoT-Inject","z":"946a22aa.72eae","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":false,"startDelay":"","name":"OPC-UA","addressSpaceItems":[{"name":"Static-INT","nodeId":"ns=3;s=OPC_DA.IOP.static.INT","datatypeName":"Int32"}],"x":160,"y":180,"wires":[["c04da4c7.a8e308"]]},{"id":"cbbcd100.377da","type":"OPCUA-IIoT-Write","z":"946a22aa.72eae","connector":"5b11caf4.795f24","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":570,"y":180,"wires":[["6db07f12.a665"]]},{"id":"c04da4c7.a8e308","type":"function","z":"946a22aa.72eae","name":"Write INT Value","func":"console.log(msg);\nmsg.payload = 1000;\nmsg.injectType = 'write';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["cbbcd100.377da"]]},{"id":"6db07f12.a665","type":"debug","z":"946a22aa.72eae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":180,"wires":[]}]